@model IEnumerable<CST356_lab3.ViewModel.ViewUserModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="well">List</h2>
<h1 class=" alert alert-dismissable" id="display"></h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-bordered table-striped table-hover" id="t">


    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsInSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="select">
            <td class="name">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Classes", "List", "Classes", new { userId = item.Id }, new { @class = "btn btn-success btn-xs" })
            </td>
        </tr>
    }

</table>
<button class="btn btn-danger btn-sm" id="hide" >Hide</button>
<button class="btn btn-success btn-sm" id="show">Show</button>

@if (Model.Count() > 2)
{
    <script>alert("Count is higher than 2");</script>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#hide").click(function () {
                $("#t").fadeOut();
            });
            $("#show").click(function () {

                $("#t").fadeIn();
            });
            $(".select").click(function () {
                var value = $(this).find('.name').text().trim();
                $("#display").fadeIn().text(value);
            });
        })
    </script>
}
